.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td{
    cursor: pointer;
    border: 4px solid rgba(2, 1, 0, 0.8);
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas{
    position: absolute;
    z-index: 10;
}

h1{
    color: rgb(43, 86, 226);
    text-align: center;
}

body{
    background-color: rgb(226, 223, 223);
}